---
import { Image } from "astro:assets";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";

const { footer_content, copyright } = config.params;
---

<footer class="section bg-theme-light pb-0">
  <div class="container">
    {/* footer menu */}
    <div class="row flex flex-wrap justify-center">
      <!-- esto es para la parte de saber mas faq y todas esas cosas que van en el footer
       esto es para un futuro si se gusta habilitar
      {
        menu.footer.map((col) => (
          <div class="mb-12 sm:col-6 lg:col-3 text-center">
            <h2 class="h4" set:html={markdownify(col.name)} />
            <ul class="mt-6">
              {col?.menu.map((item) => (
                <li class="mb-1">
                  <a href={item.url} rel="">
                    {item.text}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
      -->
      
      {/* social icons */}
      <div class="mb-2 sm:col-6 lg:col-3 flex flex-col items-center justify-center text-center">
        <a href="/" aria-label="Bigspring">
          <Image
            src="/images/diverlogo.png"
            width={Number(config.site.logo_width)}
            height={Number(config.site.logo_height)}
            alt="Logo de diversitas"
          />
        </a>

        <p class="mt-3 mb-6">Síguenos en redes sociales</p>
        <Social source={social} className="social-icons mb-8" />
      </div>
      <div>
        <p style="text-align: center;">Cordinadora General de Diversitas: Patricia Balderas R.</p>
        <p style="text-align: center;">Telefono: (+52) 222 410 3601</p>
        <p style="text-align: center;">Correo: diversitas2024@gmail.com</p>
      </div>
    </div>
    {/* copyright */}
    <div class="border-t border-border py-6 text-center">
      <p class="text-sm">Diversitas 2024 ©</p>
    </div>
  </div>
</footer>
