---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
const homepage = await getEntryBySlug("homepage", "index");
const { banner, feature, services, workflow, call_to_action } = homepage.data;
---

<Base>
  <!-- INICIO BANNER -->
  <section class="pb-[50px]">
    <div class="h-screen bg-gray-50 flex items-center">
      <section class="w-full h-full bg-cover bg-center relative" style="background-image: url('/images/diverbanner.jpg');">
        <div class="absolute inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50">
          <div class="text-center text-white px-4">
            
            <!-- Imagen agregada -->
            <img id="pr-image" src="/images/diverlogo.png" alt="Logo Diversitas" class="mt-8 w-96 h-80 object-contain mx-auto">
            
            <p class="text-3xl mb-4">
              <em>"El verdadero viajero encuentra que el aburrimiento es más bien agradable que molesto."</em>
            </p>
            <p class="text-3xl mb-4">
              <em>Es el símbolo de su libertad."</em>
            </p>
            <p class="text-2xl">
              <em>- Aldous Huxley</em>
            </p>
            <div class="order-1 ml-auto items-center justify-center md:order-2 md:ml-0 md:flex md:min-w-[150px] lg:min-w-[200px] mt-6">
              <a
                class="btn btn-primary z-0 py-[14px]"
                href="/contact"
              >
                Contáctanos
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  
    <!-- boton -->


  <!-- PARTE2 -->
   <!--
  <section class="section bg-theme-light">
    <div class="container">
      <div class="text-center">
        <h2>PARTE2PRUEBA</h2>
      </div>
      <div class="mt-8 grid gap-x-8 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
        {
          feature!.features.map((item: any, i: number) => (
            <div class="feature-card rounded-xl bg-white p-5 pb-8 text-center">
              {item.icon && (
                // <Image
                //   class="mx-auto"
                //   src={item.icon}
                //   width={30}
                //   height={30}
                //   alt=""
                // />
                <img
                  class="mx-auto"
                  alt={item.icon}
                  src={item.icon}
                  width={30}
                  height={30}
                />
              )}
              <div class="mt-4">
                <p class="h5" set:html={markdownify(item!.name)} />
                <p class="mt-3">{item.content}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  -->
<!--PRIMERA PARTE NOSOTROS -->
<div id="nosotros" style="padding-top: 20px;">
  <section  class="section" style="background-color: #FFFFFF;">
    <div class="container">
      <div class="items-center gap-8 md:grid md:grid-cols-2">
        <!-- Contenido de texto a la izquierda -->
        <div class="content">
          <h2>NOSOTROS</h2>
          <p style="text-align: justify; font-size: 1.2em; font-style: italic; ">
            “El verdadero viaje de descubrimiento no consiste en buscar nuevas tierras, sino en mirar con nuevos ojos.” - Marcel Proust
        </p>
        <p style="text-align: justify; font-size: 1.2em; font-weight: bold; margin-top: 20px;">
            <span style="color: #0DA697">Diversitas</span> es una organización que tal y como su denominación en latín expresa; es el reconocimiento a la diversidad cultural, lingüística y de todo tipo, que existe en nuestro planeta.
        </p>
        <p style="text-align: justify; font-size: 1.2em; font-weight: bold;">
            ¡Aprende, viaja y disfruta!
        </p>
        
        </div>
        <!-- Imagen estática a la derecha -->
        <div class="image" style="margin-top: 10px;">
          <img 
          src="/images/diverNosotros.png" 
          alt="Imagen representativa" 
          style="box-shadow: 0 6px 12px rgba(0, 0, 0, 0.92);"
          class="rounded-lg">
        </div>
      </div>
    </div>
  </section>
</div>

  

  <!-- CARRUSEL IMAGENES 1 -->
  {
services!.slice(-2).map((service: any, index: number) => {
  const isFirstService = index === 0;
  const isSecondService = index === 1;

  return (
    <section id="quiensomos" class={`section ${isFirstService && "bg-theme-light"}`}>
      <div class="container" style="margin-top: 10px;">
        <div class="items-center gap-8 md:grid md:grid-cols-2">
          {/* Primer servicio */}
          {isFirstService && (
            <div class={`service-carousel md:order-1`}>
              {service!.images!.length > 1 ? (
                <div class="swiper">
                  <div class="swiper-wrapper">
                        {[
                          '/images/diverFoto1.png',
                          '/images/diverFoto2.png',
                          '/images/diverFoto3.png',
                          '/images/diverFoto4.png'
                        ].map((image) => (
                          <div class="swiper-slide">
                        <Image
                          style="box-shadow: 0 6px 12px rgba(0, 0, 0, 0.92);"
                          class="mx-auto rounded-lg"
                          src={image}
                          width={420}
                          height={250}
                          alt="imagenes únicas"
                        />
                      </div>
                    ))}
                  </div>
                  <div class="pagination" />
                </div>
              ) : (
                <Image
                  style="box-shadow: 0 6px 12px rgba(0, 0, 0, 0.92);"
                  class="mx-auto rounded-lg"
                  src={service!.images![0]}
                  width={420}
                  height={250}
                  alt="imagenes únicas"
                />
              )}
            </div>
          )}

          {/* Contenido del primer servicio */}
          {isFirstService && (
            <div class={`service-content md:order-2`}>
              <h2 class="font-bold leading-[40px]" style="margin-top: 15px;">¿QUIÉNES SOMOS?</h2>
              <p class="mt-4 mb-2" style="text-align: justify; font-size: 1.2em; font-weight: bold;" ><span style="color: #0DA697">Diversitas</span> es una organización que tal y como su acepción en latín expresa; es el reconocimiento a la diversidad cultural, lingüística y de todo tipo, que existe en nuestro planeta.</p>
              <p class="mt-4 mb-2" style="text-align: justify; font-size: 1.2em; font-weight: bold;">Somos una organización la cual, mediante actividades de tipo educativo, cultural, intercultural e intergeneracional, pretende brindar oportunidades a personas de todas las edades, para vivir experiencias que ensanchen su horizonte cultural, emocional y humano.</p>
              <p class="mt-4 mb-2" style="text-align: justify; font-size: 1.2em; font-weight: bold;">Brindamos diversas alternativas para asistir a un encuentro con el otro, lo diferente, aquello que nos invita a explorar sus orígenes, raíces, tradiciones, y al mismo tiempo, nos cuestione internamente ante nuestras propias creencias.</p>
            </div>
          )}

          {/* Segundo servicio */}
          {isSecondService && (
            <div class={`service-carousel md:order-2 md:text-right`}>
              {service!.images!.length > 1 ? (
                <div class="swiper">
                  <div class="swiper-wrapper">
                        {[
                          '/images/diverFoto5.png',
                          '/images/diverFoto6.png',
                          '/images/diverFoto7.png',
                          '/images/diverFoto8.png'
                        ].map((image) => (
                          <div class="swiper-slide">
                        <Image
                          style="box-shadow: 0 6px 12px rgba(0, 0, 0, 0.92);"
                          class="mx-auto md:float-center rounded-lg"
                          src={image}
                          width={420}
                          height={250}
                          alt="imagenes únicas"
                        />
                      </div>
                    ))}
                  </div>
                  <div class="pagination" />
                </div>
              ) : (
                <Image
                  style="box-shadow: 0 6px 12px rgba(0, 0, 0, 0.92);"
                  class="mx-auto md:float-right rounded-lg"
                  src={service!.images![0]}
                  width={420}
                  height={250}
                  alt="imagenes únicas"
                />
              )}
            </div>
          )}

          {/* Contenido del segundo servicio */}
          {isSecondService && (
            <div class={`service-content md:order-1 md:text-left`}>
              <h2 class="font-bold leading-[40px]"></h2>
              <p class="mt-4 mb-2" style="text-align: justify; font-size: 1.2em; font-weight: bold;">Estamos convencidos de que estas vivencias nos conducen a una comprensión más sólida, amplia y humana del planeta y que sin duda alguna, nos aporta enorme riqueza interior.</p>
              <p class="mt-4 mb-2" style="text-align: justify; font-size: 1.2em; font-weight: bold;">Esperamos que nuestros programas, sean una invitación para descubrir el maravilloso universo que es la diversidad. Asimismo, deseamos ser el medio para que toda persona, usted y los suyos, vivan una experiencia plena en significados humanos y formativos.</p>
              <p class="mt-4 mb-2" style="text-align: justify; font-size: 1.2em; font-style: italic;">"La diversidad no es un motivo para separarnos, sino una oportunidad para aprender unos de otros y crecer juntos."</p>
            </div>
          )}
        </div>
      </div>
    </section>
  );
})
}
<!--Aquí es el css para que haga el zoom las fotos del carrete --> 
<style>
  .swiper-slide {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .swiper-slide:hover {
    transform: scale(1.2); /* Aumenta el tamaño al 120% */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.75); /* Aumenta la sombra */
  }

  /*Logo movimiento*/
  /* Estilo base para la imagen */
#pr-image {
  transition: transform 0.52s ease-in-out, opacity 0.52s ease-in-out;
}

/* Efecto de zoom */
.zoom-out-fade-effect {
    transform: scale(0.4); /* Reduce el tamaño a 80% */
    opacity: 0.01; /* Desvanece la imagen completamente */
}

</style>

  <script>
    import { Swiper } from "swiper";
    import "swiper/css";
    import "swiper/css/pagination";
    import { Autoplay, Pagination } from "swiper/modules";

    // astro:page-load event is fired when the page is loaded
    document.addEventListener("astro:page-load", () => {
      new Swiper(".service-carousel .swiper", {
        modules: [Pagination, Autoplay],
        autoplay: {
          delay: 3000,
        },
        pagination: {
          type: "bullets",
          el: ".service-carousel .pagination",
          clickable: true,
        },
      });
    });
    //Animacion Zoom
   // Detecta el evento de scroll
   window.addEventListener('scroll', function() {
          const logo = document.getElementById('pr-image');
          const scrollPosition = window.scrollY;

          // Verificar que el elemento existe antes de aplicar las clases
          if (logo) {
              if (scrollPosition > 50) {
                  logo.classList.add('zoom-out-fade-effect');
              } else {
                  logo.classList.remove('zoom-out-fade-effect');
              }
          }
      });


  </script> 
  <!-- ./End service -->

  <!-- PARTE FINAL -->
   <!--
  <section class="section pb-0">
    <div class="mb-8 text-center">
      <h2
        class="mx-auto max-w-[400px] font-bold leading-[44px]"
        set:html="PARTE CASI HASTA ABAJO"
      />
      <p class="mt-3" set:html={workflow?.description} />
    </div>
    <Image
      src={workflow!.image}
      alt="workflow image"
      width={1920}
      height={414}
    />
  </section>
  -->

  <!-- PARTE FINAL -->
   <!-- 
  <Cta cta={call_to_action} />
  -->
</Base>
